GOOGLE_CLOUD_PROJECT=YOUR_PROJECT_ID_HERE
GOOGLE_GENAI_USE_VERTEXAI=true

GOOGLE_CLOUD_LOCATION=global
AGENT_MODEL=gemini-3.1-flash-lite

MLFLOW_TRACKING_URI=http://localhost:5000
VERTEX_PROJECT=YOUR_PROJECT_ID_HERE
VERTEX_LOCATION=global
JUDGE_MODEL=vertex_ai:/gemini-3.1-flash-lite